.contact_container {
  width: 58%;
  display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    margin-bottom: 30px;
}

.contact__options {
  display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 100px;
}

.contact__option {
    background: var(--color-bg-variation);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option:hover{
    background: transparent;
    border-color: var(--color-primary-variation);
}

.contact__option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}


@media screen and (max-width: 1024px) {
    
}


@media screen and (max-width: 600px) {

    .contact__options {
       margin: 0.5rem;
      }

      #contact {
        margin-bottom: 150px;
      }
}

